---
---

@import "type-theme";

.tag_name {color: #9c9c9c;}

h1 a {color: #fff;}

blockquote {background: #252525; border-radius: 10px;}
strong {color: #ff5b5b;}
.center {
    display: block;
    margin: auto;
}
footer .tags {margin-top: 100px;}