---
---

@import "type-theme";
@font-face {
    font-family: "LexiSaebom";
    src: url("../fonts/LexiSaebomR.eot");
    /*IE 9 호환성 보기 모드 대응*/
    src: local("☺"), url("../fonts/LexiSaebomR.eot?#iefix") format("embedded-opentype"), url("../fonts/LexiSaebomR.woff") format("woff");
    /*표준 브라우저*/
 }

.tag_name {color: #9c9c9c;}

h1 a {color: #fff;}

blockquote {background: #252525; border-radius: 10px;}
strong {color: #ff5b5b;}
.center {
    display: block;
    margin: auto;
}
footer .tags {margin-top: 100px;}
