// Typography
$font-family-main: 'LexiSaebom', Helvetica, Arial, sans-serif;
$font-family-headings: 'LexiSaebom', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #111;
$background-color: #111;
$border-color: rgba(0, 0, 0, 0.3); // rgba recommended if using feature images

// Typography colours
$text-color: #ababab;
$link-color: #fff;
$selection-color: #ab202f; // visible when highlighting text

// Tags color
$tags-color: #fff;

//Search color
$search-color: #fff;

// Header colours
$header-link-color: #fff;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #19191b;
$header-desc-text-color: #fff;
$header-desc-link-color: #02453D;
